<style>
form {
    display:block;
}
</style>

<script>
    var wpwlOptions = {
    style: "{{ formStyle }}",
	paymentTarget: "_top",
    "registrations": {
        "hideInitialPaymentForms": "true",
        "requireCvv": "true"
    },
     browser: {
           threeDChallengeWindow: 5
       },
	locale: "{{ language_code }}",
	onReady: function(){
{% if tokenization == 1 %}
        var storeMsg = 'Store payment details?';
        var style = 'style="direction: ltr"';
        if (wpwlOptions.locale == "ar") {
            storeMsg = ' هل تريد حفظ معلومات البطاقة ؟';
            style = 'style="direction: rtl"';
        }
        var createRegistrationHtml = '<div class="customLabel style ="' + style + '">' + storeMsg +
            '</div><div class="customInput style ="' + style + '""><input type="checkbox" name="createRegistration" value="true" /></div>';
        $('form.wpwl-form-card').find('.wpwl-button').before(createRegistrationHtml);
{% endif %}

    },

    };


</script>
{% if language_code == 'ar' %}
<style>
.wpwl-group{
	direction:ltr !important;
}
.wpwl-control-cardNumber{
direction:ltr !important;
text-align:right;
}
</style>
{% endif %}

<script>
$.ajaxSetup({
    // Disable caching of AJAX responses
    cache: true
});
</script>

<script src="{{ scriptURL }}"></script>

<div>
    <form action="{{ postbackURL }}" class="paymentWidgets"  data-brands="{{ payment_brands }}">

    </form>
</div>
<div class="buttons" style="display:none;">
  <div class="right"><a id="button-confirm" class="button" onclick="$('#payment').submit();"><span>{{ button_confirm }}</span></a></div>
</div>
